<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/login']" routerLinkActive="active">logOut</a>
</div>
<h4></h4>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>label</th>
                <th>description</th>
                <th>deadline</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    login interface
                </td>
                <td>
                    Create login interface
                </td>
                <td>
                    2021/05/01
                </td>
            </tr>
            <tr>
                <td>
                    to do list
                </td>
                <td>
                    Displayin to do list by user
                </td>
                <td>
                    2021/05/05
                </td>
            </tr>
            <tr>
                <td>
                    manage tasks list interface
                </td>
                <td>
                    Create tasks list interface
                </td>
                <td>
                    2021/05/10
                </td>
            </tr>
        </tbody>
    </table>

</div>