<div class="login">
    <h2 class="login-header">To identify</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input id="email" type="email" placeholder="Your email" />
            <span *ngIf="submitted && loginForm.controls.email.invalid" id="email-error">
                Please enter a valid email.
            </span>

            <input id="password" type="password" placeholder="********" />
            <span *ngIf="submitted && loginForm.controls.password.invalid" id="password-error">
                Please enter a valid password.
            </span>
        </div>
        <div class="form-group">
            <button type="submit">Sign in</button>
        </div>
    </form>
</div>